<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2D Party</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <div id="ayuda">
          <ul>
            <li>Flechitas para moverse</li>
            <li>Los que estén cerca hablan entre ellos</li>
            <li>Permisos de cámara: permitir siempre</li>
          </ul>
        </div>
        <div id="room">
            <div id="pjPrincipal" class="pj"></div>
        </div>
        <aside id="meet"></aside>
        <div id="chatWrite">
            <span>&gt;</span> <input type="text" />
        </div>
    </main>

    <script src="https://meet.jit.si/external_api.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
</body>
</html>