body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.pj {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 24px;
  left: 10px;
  top: 0;
  text-align: center;
  background-color: #f1ff90;
  color: #1aa4c4;
  box-shadow: 2px 2px #ff22c8;
  line-height: 29px;
  border: 1px solid #cecece;
}

.adminOfArea {
  color: #f1ff90;
  background-color: #1aa4c4;
}

#pjPrincipal {
  visibility: hidden;
}
main {
  display: flex;
}
#room {
  width: 70%;
  height: 100%;
  background: url('bg.jpg');
}

#info {
  display: none;
  margin-top: 3em;
}
#meet {
  width: 30%;
  background-color: #d8bfdd;
}
#chatWrite {
  position: absolute;
  bottom: 1em;
  left: 1em;
  display: flex;
  align-items: center;
  width: 81%;
}
#chatWrite input {
  width: 100%;
  border: 0;
  padding-left: 0.5em;
  box-sizing: border-box;
  background: none;
}
#chatWrite input:focus {
  border: 0;
  outline: none;
}
#chatRead {
  position: absolute;
  /* estas dos lineas lo posicionan abajo en vez de arriba */
  bottom: 0;
  margin-bottom: 64px;
  /******************/
  width: 67%;
  font-size: 0.9em;
  padding: 0.9em 1em;
  color: #040404;
  font-family: 'Courier New', mono;
  overflow-y: auto;
  height: 10em;
  margin-top: 0.5em;
  background-color: #ffffff66;
  margin-left: 1em;
}
#chatRead .nombre {
  color: #686868;
}
#infoBeforeMeet {
  background-color: white;
  height: 91%;
  width: 80%;
  margin: 7% auto;
  text-align: center;
  box-sizing: border-box;
  padding-top: 2em;
}

#login {
  margin-top: 6em;
  width: 80%;
  margin: 4em auto 0;
  /* border: 1px solid #e1e1e1; */
  padding: 2em 0;
  /* background-color: #e1e1e1; */
}
#login input {
  font-family: inherit;
  font-size: 1em;
}
#login button {
  margin-top: 2em;
  background-color: #80ffc1;
  border: none;
  padding: 10px 33px;
  font-size: 1.1em;
  text-transform: uppercase;
  box-shadow: 4px 4px #aaa;
  cursor: pointer;
}
#login button:active {
  position: relative;
  left: 4px;
  top: 4px;
  box-shadow: none;
}

#userConfig {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black;
  padding-top: 12px;
  margin: 0 12px 0 12px;
}

#userConfig > * {
  padding: 10px 0 10px 0;
}

#userConfig textarea {
  resize: none;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 20px;
}

.tooltip {
  position: relative;
  word-break: break-word;
  width: 120px;
  border: 2px solid red;
  padding: 8px;
  background: white;
  opacity: 0.8;
  z-index: 2;
  border-radius: 24px;
  transition: opacity 2s;
}
