body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: black;
}
.pj {
    overflow: hidden;
	width: 1.3%;
    /* height se actualiza desde js  */
	position: absolute;
	border-radius: 24px;
	left: 10px;
	top: 0;
	text-align: center;
	background-color: #f1ff90;
	color: #1aa4c4;
	box-shadow: 2px 2px #ff22c8;
	border: 1px solid #cecece;
	font-size: 0.9vw;
	box-sizing: border-box;
    transition: left 0.05s, top 0.05s;
}

.adminOfArea {
  color: #f1ff90;
  background-color: #1aa4c4;
}

#pjPrincipal {
  visibility: hidden;
}
main {
}
#room {
  width: 100%;
  height: 100%;
  background: url('bg.jpg') no-repeat;
  background-size: 100%;
}

#infoBeforeMeet img {
  width: 35%;
}

#info {
  display: none;
  margin-top: 0em;
}
#info ul {
	list-style: none;
	font-size: 0.9em;
	width: 29%;
	margin: 0 auto;
	padding: 1em;
	border-radius: 3px;
	text-align: left;
}
#info ul li {
	margin: 0.5em 0;
}
#info ul li i {
    font-size: 1.5em;
}
#info ul li span {
	position: relative;
	top: -2px;
	left: 5px;
}
#meet {
  width: 45%;
  background-color: #d8bfdd;
  position: absolute;
  right: 0.5%;
  top: 1%;
  height: 54%;
  box-sizing: border-box;
}
#chat {
  position: absolute;
  bottom: 1%;
  right: 0.5%;
  width: 45%;
  height: 43%;
  background-color: #ffffffc4;
  box-sizing: border-box;
}
#chatWrite {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
}
#chatWrite > span {
  margin-top: 3px;
}
#chatWrite input {
  width: 100%;
  border: 0;
  padding-left: 0.5em;
  box-sizing: border-box;
  background: none;
  font-size: inherit;
}
#chatWrite input:focus {
  border: 0;
  outline: none;
}
#chatRead {
  font-size: 1em;
  padding: 0.9em 1em;
  /* color: #040404; */
  /* font-family: 'Courier New', mono; */
  overflow-y: auto;
  height: 92%;
  box-sizing: border-box;
}
#chatRead .nombre {
  color: #686868;
}

#infoBeforeMeet {
  background-color: white;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 2em;
  border: 1vw solid #d8bfdd;
}

#login {
  margin-top: 6em;
  width: 80%;
  margin: 0 auto 0;
  padding: 2em 0;
}
#login input {
  font-family: inherit;
  font-size: 1em;
}
.button {
  margin-top: 4%;
  background-color: #80ffc1;
  border: none;
  padding: 6px 27px;
  font-size: 1.1em;
  text-transform: uppercase;
  box-shadow: 4px 4px #aaa;
  cursor: pointer;
  font-size: 0.9em;
}
.button:active {
  position: relative;
  left: 4px;
  top: 4px;
  box-shadow: none;
}

#serParlanteWrapper {
	position: absolute;
	right: 5%;
	bottom: 6%;
	width: 32%;
	text-align: left;
}

#serParlanteWindow.hide,
#btnSerParlante.hide {
  display: none;
}
#btnSerParlante {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	font-size: 1.7em;
	z-index: 10;
}

#serParlanteWindow {
	position: absolute;
	bottom: 0;
	right: -6px;
	background: white;
	padding: 5% 7% 7% 7%;
	width: 100%;
	border-radius: 9px;
	border-bottom-right-radius: 0;
	box-shadow: 4px 4px #8a8a8a;
	border: 1px solid #8a8a8a;
    font-size: 0.9em;
}
#serParlanteWindow p {
    margin: 0;
    margin-bottom: 1em;
}

#serParlanteWindow p.permitir {
	margin: 0.2em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
}

#serParlanteWindow textarea {
	resize: none;
	font-size: 1em;
	font-family: inherit;
	box-sizing: border-box;
	padding: 7px;
	width: 100%;
}
#serParlanteWindow .allowables {
    display: flex;
    margin-bottom: 1em;
    padding: 0 1%;
}

#serParlanteWindow .allowables label {
    position: relative;
    top: -2px;
}

#serParlanteWindow .allowables > div {
    flex: 1;
	background-color: #eee5e5;
	padding: 3px;
	border-radius: 5px;
    margin: 0 2%;
}

.tooltip {
  position: relative;
  word-break: break-word;
  width: 120px;
  border: 2px solid red;
  padding: 8px;
  background: white;
  opacity: 0.8;
  z-index: 2;
  border-radius: 24px;
  transition: opacity 2s;
}
