body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: black;
}
.pj {
    overflow: hidden;
	width: 1.3%;
    /* height se actualiza desde js  */
	position: absolute;
	border-radius: 24px;
	left: 10px;
	top: 0;
	text-align: center;
	background-color: #f1ff90;
	color: #1aa4c4;
	box-shadow: 2px 2px #ff22c8;
	border: 1px solid #cecece;
	font-size: 0.9vw;
	box-sizing: border-box;
    transition: left 0.05s, top 0.05s;
}

.adminOfArea {
  color: #f1ff90;
  background-color: #1aa4c4;
}

#pjPrincipal {
  visibility: hidden;
}
main {
}
#room {
  width: 100%;
  height: 100%;
  background: url('bg.jpg') no-repeat;
  background-size: 100%;
}

#info {
  display: none;
  margin-top: 3em;
}
#meet {
  width: 45%;
  background-color: #d8bfdd;
  position: absolute;
  right: 0.5%;
  top: 1%;
  height: 54%;
  box-sizing: border-box;
}
#chat {
  position: absolute;
  bottom: 1%;
  right: 0.5%;
  width: 45%;
  height: 43%;
  background-color: #ffffffc4;
  box-sizing: border-box;
}
#chatWrite {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
}
#chatWrite > span {
  margin-top: 3px;
}
#chatWrite input {
  width: 100%;
  border: 0;
  padding-left: 0.5em;
  box-sizing: border-box;
  background: none;
  font-size: inherit;
}
#chatWrite input:focus {
  border: 0;
  outline: none;
}
#chatRead {
  font-size: 1em;
  padding: 0.9em 1em;
  /* color: #040404; */
  /* font-family: 'Courier New', mono; */
  overflow-y: auto;
  height: 92%;
  box-sizing: border-box;
}
#chatRead .nombre {
  color: #686868;
}

#infoBeforeMeet {
  background-color: white;
  height: 100%;
  /* width: 80%; */
  /* margin: 7% auto; */
  text-align: center;
  box-sizing: border-box;
  padding-top: 2em;
  border: 50px solid #d8bfdd;
}

#infoBeforeMeet img {
  width: 38%;
}

#login {
  margin-top: 6em;
  width: 80%;
  margin: 4% auto 0;
  /* border: 1px solid #e1e1e1; */
  padding: 2em 0;
  /* background-color: #e1e1e1; */
}
#login input {
  font-family: inherit;
  font-size: 1em;
}
#login button {
  margin-top: 4%;
  background-color: #80ffc1;
  border: none;
  padding: 6px 27px;
  font-size: 1.1em;
  text-transform: uppercase;
  box-shadow: 4px 4px #aaa;
  cursor: pointer;
  font-size: 0.9em;
}
#login button:active {
  position: relative;
  left: 4px;
  top: 4px;
  box-shadow: none;
}

#userConfig #userConfigWindow.hide {
  display: none;
}

#userConfig #showConfig.hide {
  display: none;
}

#userConfig #showConfig {
  position: absolute;
  bottom: 8px;
  right: 0;
  background-color: #80ffc1;
  border: none;
  padding: 6px 27px;
  font-size: 1.1em;
  text-transform: uppercase;
  box-shadow: 4px 4px #aaa;
  cursor: pointer;
  font-size: 0.9em;
}

#userConfig #showConfig:active {
  /*position: absolute;*/
  bottom: 4px;
  box-shadow: none;
}

#userConfig #userConfigWindow {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 48px;
  right: 0;
  align-items: center;
  background: white;
  /*border: 2px solid black;*/
  padding: 24px;
  margin: 0 12px 0 12px;
}

#userConfigWindow > * {
  padding: 10px 0 10px 0;
}

#userConfigWindow textarea {
  resize: none;
  font-size: 1em;
  box-sizing: border-box;
  padding: 20px;
}

.tooltip {
  position: relative;
  word-break: break-word;
  width: 120px;
  border: 2px solid red;
  padding: 8px;
  background: white;
  opacity: 0.8;
  z-index: 2;
  border-radius: 24px;
  transition: opacity 2s;
}
